*{
    margin: 0;
    font-family: Inter, sans-serif;
}
/* INTRO */
#intro-section{
    background-color: #303030;
    color: white;
    height: 475px;
}

#intro-title{
    padding-top: 200px;
    padding-left: 60px;
    font-size: 60px;
    font-weight: 600;
}
#intro-sub{
    padding-top: 20px;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 500;
}

/* NUMBERS */
#numbers-section{
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-evenly;
    height: 230px;
}

/* Classes reutilizadas em outras partes do HTML */
.bigger{
    font-size: 40px;
    font-weight: 600;
}
.smaller{
    font-size: 20px;
    font-weight: 400;

}

/* DESCRIPTION */
#description-section{
    background-color: #f5f5f5;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

#desc-text{
    align-self: center;
}

#desc-title{
    font-weight: 500;
    padding-bottom: 30px;
    font-size: 40px;
}
#desc-sub{
    font-size: 24px;
    font-weight: 300;
}

#loft-img{
    width: 450px;
    height: 600px;
    border-radius: 30px;
}

/*FORMULÁRIO*/
#form-section{
    background-color: #303030;
    color: white;
    text-align: center;
}

#form-title{
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: 700;
}

.in{
    width: 508px;
    height: 72px;
    margin: 20px;
    padding-left: 20px;
    border: 0;
    border-radius: 10px;
}

.in::placeholder{
    font-family: 'Raleway','Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
}

.butt{
    font-family: 'Raleway', 'Inter', sans-serif;
    font-weight: 700;
    width: 286px;
    height: 74px;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #c07212;
    color: #eaeceb;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
